### SESI 2 PEMBELAJARAN

In [1]:
print("Pembelajaran Syaima Radestya Sesi 2")

Pembelajaran Syaima Radestya Sesi 2

# Conditional

In [4]:
angka = 55
print(f"{angka} lebih kecil dari 20")

55 lebih kecil dari 20

In [10]:
# dengan sintaks if
angka = 9
if angka < 10:
    print(f"{angka} lebih kecil dari 10")
    print("ini masih didalam if")
else:
    print(f"{angka} lebih besar dari 10")
    print("ini masih didalam else")
print("bagian ini tidak terpengaruh sintaks diatas")

9 lebih kecil dari 10
ini masih didalam if
bagian ini tidak terpengaruh sintaks diatas

In [13]:
angka = 10
if angka < 20:
    print("Angka lebih kecil dari 20")

    if angka % 2 == 0:
        print("Bilangan genap lebih kecil dari 20")

else:
    print("Angka lebih besar dari 20")
    if angka % 2 != 0:
        print("Bilangan ganjil lebih besar dari 20")

Angka lebih kecil dari 20
Bilangan genap lebih kecil dari 20

In [16]:
# dengan sintaks if
angka = 10
if angka < 10:
    print(f"{angka} lebih kecil dari 10")
elif angka == 10:
    print(f"{angka} sama dengan 10")
else:
    print(f"{angka} lebih besar dari 10")

10 sama dengan 10

In [17]:
hujan = False
print("Ayo kita ke","Perpustakaan" if hujan else "Pantai")

Ayo kita ke Pantai

# Looping

In [18]:
print("halo dunia")
print("halo dunia")
print("halo dunia")
print("halo dunia")
print("halo dunia")

halo dunia
halo dunia
halo dunia
halo dunia
halo dunia

In [19]:
i = 0
while i < 5:
    i += 1
    print(f"i ke {i}", "halo dunia")

i ke 1 halo dunia
i ke 2 halo dunia
i ke 3 halo dunia
i ke 4 halo dunia
i ke 5 halo dunia

In [25]:
# break
i = 0
while i < 10:
    i += 1
    if i == 3:
        break
    print(f"i ke {i}", "halo dunia")

i ke 1 halo dunia
i ke 2 halo dunia

In [24]:
# continue
i = 0
while i < 10:
    i += 1
    if i == 1:
        continue
    print(f"i ke {i}", "halo dunia")

i ke 2 halo dunia
i ke 3 halo dunia
i ke 4 halo dunia
i ke 5 halo dunia
i ke 6 halo dunia
i ke 7 halo dunia
i ke 8 halo dunia
i ke 9 halo dunia
i ke 10 halo dunia

In [26]:
i = 1
while i <= 10:
    print(f"2 x {i} = {2*i}")
    i = i + 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [27]:
i = 1
j = 1
while j <= 10:
    while i <= 10:
        print(f"{j} x {i} = {j*i}")
        i += 1
    i = 1
    j += 1
    print("="*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
==================================================
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
==================================================
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
==================================================
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
==================================================
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
==================================================
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
==================================================
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
==================================================
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
==================================================
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
==================================================
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
==================================================

In [28]:
for j in range(1, 11):
    for i in range(1, 11):
        print(f"{j} x {i} = {j*i}")
    print("="*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
==================================================
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
==================================================
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
==================================================
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
==================================================
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
==================================================
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
==================================================
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
==================================================
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
==================================================
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
==================================================
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
==================================================

In [32]:
buahbuahan = ["Jeruk", "Nanas", "Semangka", "Kurma"]
for buah in buahbuahan:
    print(f"Saya ingin makan buah {buah}")

Saya ingin makan buah Jeruk
Saya ingin makan buah Nanas
Saya ingin makan buah Semangka
Saya ingin makan buah Kurma

In [36]:
for idx in range(len(buahbuahan)):
    print(f"Saya ingin makan buah {buahbuahan[idx]}")

Saya ingin makan buah Jeruk
Saya ingin makan buah Nanas
Saya ingin makan buah Semangka
Saya ingin makan buah Kurma

In [37]:
for i in range(9):
    if i == 2:
        continue
    print(i)

0
1
3
4
5
6
7
8