### notebook pertama saya pada kelas sesi pertama

In [1]:
print("Hai, nama saya Syaima Radestya")

Hai, nama saya Syaima Radestya

# Tipe Data

In [2]:
# tipe data tunggal
print (1112)

1112

In [3]:
type(1112)

int

In [4]:
type(11.2)

float

In [7]:
type(3+2j)

complex

In [9]:
type(False)

bool

In [10]:
type("Syaima Radestya")

str

# Variabel

In [11]:
a = 8.3
print(a)
type(a)

8.3

float

In [12]:
angka_1, angka_2 = 7, 12.3

In [13]:
print (angka_2)

12.3

# Operasi

In [16]:
a = 9
b = 4

a // b

2

In [17]:
a % b

1

In [18]:
# aritmatika
print(a + b)
print(a * b)

13
36

In [22]:
# string
nama_depan = "Data"
nama_belakang = "Science"

print(nama_depan + nama_belakang)

DataScience

In [23]:
print(nama_belakang * 3)

ScienceScienceScience

In [25]:
# perbandingan
a = 5
b = 11

print (a > b)

False

In [26]:
# Logika
print(False or True)

True

In [27]:
nama = "Saya Belajar di Hacktiv"
print(nama.capitalize())
print(nama.upper())
print(nama.lower())
print(nama.title())

Saya belajar di hacktiv
SAYA BELAJAR DI HACKTIV
saya belajar di hacktiv
Saya Belajar Di Hacktiv

# Tipe Data Majemuk

In [28]:
# tuple dan list
my_tuple = (53, 45.2, True, "Syaima", (1, 2, 3))
print(my_tuple)
type(my_tuple)

(53, 45.2, True, 'Syaima', (1, 2, 3))

tuple

In [29]:
my_list = [53, 45.2, True, "Syaima", (1, 2, 3)]
print(my_list)
type(my_list)

[53, 45.2, True, 'Syaima', (1, 2, 3)]

list

In [30]:
print(my_tuple[3])

Syaima

In [31]:
"Syaima" in my_list

True

In [32]:
# pengubahan data
my_list[3] = "NgodingPython"

In [33]:
my_list

[53, 45.2, True, 'NgodingPython', (1, 2, 3)]

In [34]:
# append menambah data
my_list.append("Belajar")

In [35]:
my_list

[53, 45.2, True, 'NgodingPython', (1, 2, 3), 'Belajar']

In [38]:
# menghapus data
my_list.remove(53)

In [39]:
my_list

[45.2, True, 'NgodingPython', (1, 2, 3), 'Belajar']

In [40]:
# dictionary
my_dict = {'nama':'Syaima Radestya', 'pekerjaan': 'Mahasiswa'}
my_dict['nama']

'Syaima Radestya'

In [41]:
my_dict['domisili'] = 'Jakarta Timur'

In [42]:
my_dict

{'nama': 'Syaima Radestya',
 'pekerjaan': 'Mahasiswa',
 'domisili': 'Jakarta Timur'}

In [45]:
# set

my_set1 = {1,1,1,1,1,2,2,3,3,3,3,3,4,4,4,4,5,5,5,5,7,7,7}
my_set2 = {2,3,6,9,11,13}

In [44]:
my_set1.union(my_set2)

{1, 2, 3, 4, 5, 6, 7, 9, 11, 13}

In [47]:
my_set1.intersection(my_set2)

{2, 3}

### String Formatting

In [48]:
nama = 'SyaimaRadestya'

In [49]:
nama[0]

'S'

In [52]:
nama[3:7]

'imaR'

In [53]:
'z' in nama

False

In [54]:
# f string

nama = "Syaima"
print(f"Nama saya {nama}")

Nama saya Syaima